body {
    font-family:Roboto;
    background-color: #f0d767;
    color: #325AE0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Grenze Gotisch";
    text-align: center;
}

h1 {
    font-size: 55pt;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #fa814f;
    text-align: center;
    padding:10px;
    color:#1d42b9 ;
    border: 2px solid #325AE0;
}

/*Hero section*/

#hero img {
    width: 350px;
}
/* bio section*/

#bio {
    text-align: center;
}

/*gallery section*/

#gallery {
    border:2px solid #325AE0;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}
