body {
    font-family:Roboto;
    background-color: #f0d77a;
    color: #325AE0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Grenze Gotisch";
    text-align: center;
    font-size: 45pt;
}

h2 {
    margin: .1em;
}
header {
    text-align: center;
}

#hero, footer {
    background-color: #fa814f;
    text-align: center;
    padding:10px;
    color:#1d42b9 ;
    border: 2px solid #325AE0;
}

/*Hero section*/

#hero img {
    width: 350px;
}
/* bio section*/

#bio {
    text-align: center;
}

/*hobbies*/

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*gallery section*/

#gallery {
    border:2px solid #325AE0;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/*Literature*/

#lit {
    border:2px solid #325AE0;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 35rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

#lit div p:first-child:first-letter {
    color: #042183;
    background-image:radial-gradient(white,#f0d77a);
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 4px outset rgb(131, 130, 130);
    text-shadow: 2px 2px 3px rgba(0,0,0,5);
    box-shadow: 5px 5px 5px rgba(0,0,0,5);
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

#video {
    text-align:center;
    width: 100%;
    display: block;
    margin: auto;
}

#video iframe {
    border:9px solid #3f553f;
    border-radius: 2rem;
    margin: auto;
    width: 100%;
}

/*contact form*/

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border:2px solid #325AE0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

legend {
    background-color: rgb(19, 99, 202);
    color: snow;
    padding: .5em;
    
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color: rgb(19, 99, 202);
    color: white;
    border: 1px solid #325AE0;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }
    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
    
}


/*large screen*/

@media  (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    
    hr {
        display: none;

    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    figure {
        display: block;
    }
}